body{
  	margin: 0px;
  	  background-color: rgba(30, 30, 130, .85);
	color: white;

}


#main, #back, #front {
	/*left:50%;margin-left:-320px;*/
	position: absolute;
	
 	border:1px solid #fff;
 	border-radius:3px;
}

a{
   	font-size:20px;
   	font-weight:bold;
	color:white;
}

.smalltxt{
   	font-size:16px;
}
.revtxt{
   	font-size:12px;
}

.holdingRect{
	color: white;
	padding: 5px;
   	background-color: rgba(30, 30, 30, 1.0);
 	border:3px solid #888888;
 	border-radius:3px;
	overflow: auto;
	margin: 5px;
}

#inventoryMenu, #battleWindow{
    margin: auto;
	min-height:540px;
	width: 305px;
	display:none;
     background-color: rgba(30, 30, 110, .85);
}

.messageMenu{
 	margin: auto;
 	width: 305px ;
 	height: 200px;
 	display:none;
 	background-color: rgba(30, 30, 30, 1.0);
}

#enemyImage{
	margin: auto;
    width: 200px; height: 200px; 
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
     image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
     image-rendering: -webkit-optimize-contrast; /* Safari                        */
     image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
     image-rendering: pixelated;                 /* Awesome future-browsers       */
     -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#enemyPlate{
	background-color:gray;
	
}

#deathmenu{
	display:none;
}

#titleScreen, #deathmenu{
	/*left:50%;margin-left:-320px;*/
	position: absolute;
	width:100%;
	/*height:100%;*/
	font-size: 50px;
	text-align: center;
 /*	width: 640px;*/
	top:200px;
}

#options{
	/*left:50%;margin-left:-320px;*/
	 position: absolute;
	display:none;
}

#storeMenu{
 	width: 305px ;
 	height: 405px;
	margin: auto;
	 display:none;
     background-color: rgba(30, 30, 110, .85);
}


#inventoryMenu{
	font-size: 13px;
	 display:none;
}


#titlePlate
{
	text-align:left;
   	font-size:14px;
   	font-weight:bold;
	width:125px;
}


.invItems{
	overflow: auto;
	min-height:210px;
	max-height:210px;
}

#spellsPlate
{	
	overflow: auto;
	min-height:105px;
	max-height:105px;
}

#outputPlate
{	
	overflow: auto;
	min-height:155px;
	max-height:155px;
}


.mp{
	font-size: 9px;
}

#container{
	position: absolute;
}

.right{
	text-align:right;
}
.centertext{
	text-align:center;
}

button{

    background: #000;
    background: linear-gradient(#999999, #282828);
    border-radius: 9px 9px 9px 9px;
    font-size: 16px;
    font-weight: 400;
	width:125px;
    cursor: pointer;
    border:0;
    color: #ccc;
    margin: 0.3em 0.3em;
    padding: 10px 10px;
   	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1.00);
}
button:active {
  text-shadow: 0 0 30px #fff, 0 0 20px #fff, 0 0 10px #fff;
  top: 1px;
  background: linear-gradient(#282828, #999999);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

button:disabled{
	opacity:.5;
}

button:hover {
  text-shadow: 0 0 4px #999, 0 0 7px #fff, 0 0 10px #fff;
}

button:focus {
  outline: none;
}

